<html>
<head>
	<style type="text/css">
		img {
			height: 100	px;
			width: 100px;
		}
	</style>
</head>
<table >
	{{#each trees}}
	<tr>
		<td><img src="{{URL}}"></td>
		<td>{{trees}}</td>
		<td><ul>
			<li>Height: {{height}}</li>
			<li>Toys: {{toys}}</li>
		</ul></td>
	</tr>
	{{/each}}
</table>
</html>
