<html>

<head>
	<style>
		img{
			width: 150px;
			height: 150px;
		}
	</style>
</head>
<table>
	<tr>{{#each adv}}
        <td><img src="{{adv}}"></td>
	    <td><img src="{{adv}}"></td>
	    <td><img src="{{adv}}"></td>
	    {{/each}}
</tr>
</table>



  

</html>