<html>

<head>
	<style>
		.avatar{
			width: 15px;
			height: 15px;
		}
	</style>
</head>

<ul>
	{{#each lenta}}
        <li><img class="avatar" src="{{avatar}}">{{laut}}-{{info}}</li>
        {{/each}}
</ul>


</html>